@model Electronics.Presentation.Areas.Admin.Views.ProductImage.ProductImageVM

@{
    ViewData["Title"] = "Edit Product Image";
}

<h2>@ViewData["Title"]</h2>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
